body {
    margin: 0;
}

#list-tab {
    width: 20%;
    height: 100vmax;
    float: left;
    background-color: #1eaace;
    border-right: 1px solid #1eaace;
}

#list-tab div {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

#info-admin {
    background-color: white;
    width: 100%;
    height: 200px;
}

#info-admin h2 {
    color: #1eaace;
}

#info-admin img {
    width: 60%;
    height: 110px;
    margin-left: 3%;
    margin-top: 10px;
}

#list-tab div:hover {
    background-color: #018763;
}

#list-tab a {
    text-decoration: none;
}

#content-tab-admin {
    width: 78%;
    height: max-content;
    float: right;
}

.clear {
    clear: both;
}

#course-admin {
    width: 100%;
    height: max-content;
    font-size: 20px;
    display: none;
}
#course-admin #info_add_kh div{
    margin-top: 50px;
}


#class-admin {
    width: 100%;
    height: max-content;
    font-size: 20px;
    display: none;
}

#class-admin div {
    margin-top: 50px;
}

#teacher-admin {
    width: 100%;
    height: max-content;
    font-size: 20px;
    display: none;
}

#teacher-admin div {
    margin-top: 50px;
}

#blog-admin {
    width: 100%;
    height: max-content;
    font-size: 20px;
    display: none;
}

#blog-admin div {
    margin-top: 50px;
}
#content-tab-admin #info_edit_kh #sel_edit{
    width: 300px;
    height: 40px;
    background-color: #1EAACE;
    border-radius: 30px;
    color: white;
    border: none;
}
#content-tab-admin div textarea {
    display: block;
    width: 98%;
}

#content-tab-admin h3 {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

#content-tab-admin strong {
    display: inline-block;
    width: 15%;
}
.restrict{
    display: none;
}
.nonrestrict{
    display: none;
}
#content-tab-admin #info_edit_kh input {
    display: inline-block;
    width: 80%;
    height: 25px;
    margin-left: 0;
}
#content-tab-admin #info_edit_kh select {
    display: inline-block;
    width: 80%;
    height: 25px;
    margin-left: 0;
}
#content-tab-admin #info_add_kh input,select {
    display: inline-block;
    width: 80%;
    margin-left: 2%;
    height: 25px;
}

#content-tab-admin #info_add_kh .btn_check {
    margin-top: -12px;
    margin-left: 2%;
}
#content-tab-admin button {
    margin-left: 75%;
    width: 20%;
    height: 50px;
    border: none;
    background-color: #1eaace;
    color: #fff;
    box-shadow: 5px 5px 5px #ccc;
    margin-top: 50px;
}

#content-tab-admin button:active {
    background-color: #15687c;
    box-shadow: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    float: left;
    display: block;
    width: 33.3%;
    background-color: #1EAACE;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFB20E;
    color: white;
}
li a:focus {
    background-color: #FFB20E;
    color: white;
}
.info{
    display: none;
}
.warning{
    color: red;
    font-style: italic;
}
#btn_search_kh{
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 60px;
    background-color: #1EAACE;
    color: white;
    text-align: center;
    transition: 0.5s;
}

.half_width{
    width: 50%;
    height: 100px;
    float: left;
}
.half_width input{
    width: 80%;
}

.full_width{
    width: 100%;
    float: left;
}
#content-tab-admin .info .full_width textarea{
    width: 90%;
}
.show_info_course select{
    width: 80%
}
#is_suit_makh, #is_suit_gv{
    margin-left: 20px;
    display: none;
}