#contentfasttest{
    background-color: teal;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1{
    font-size: 40;
    color: #fff;
    text-align: center;
}
#formfasttest{
    background-color:rgba(255, 255, 255, 0.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    padding: 30px;
    font-size: 18;
    line-height: 30px;
}
#btn-submit-fasttest{
    background-color:teal;
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    width: 50%;
    height: 50px;
    margin-left: 25%;
    margin-top: 50px;
    font-size: 18;
    line-height: 30px;
    color: white;
}