
/* main */
main {
    line-height: 2.8rem;
}
/* slide */
.slide-wrap {
    height: 485px;
    background-color: var(--primary-color);
    background-image: url(../img/bg_over.webp);
    background-repeat: repeat-x;
    padding: 50px 0;
}

.slide {
    display: flex;
    margin: 0 140px;
}

.slide-content {
    margin-left: 52px;
    color: var(--white-color);
}

.slide-title {
    line-height: 6rem;
}

.slide-title .main-title {
    font-size: 6rem;
    margin-top: 20px;
}

.slide-title .sub-title {
    font-size: 5rem;
}

.slide-desc {
    font-size: 1.8rem;
    margin: 40px 0;
    max-width: 90%;
}

.slide-btn {
    color: #e05100;
    background-color: var(--white-color);
}

.slide-btn:hover {
    cursor: pointer;
    color: var(--hover-color);
}