main {
    margin-top: var(--header-height);
    line-height: 2.6rem;
}

.page-banner-wrap {
    background-color: var(--primary-color);
    background-image: url(../img/bg_over.webp);
    background-repeat: repeat-x;
}    

.page-banner-wrap.white {
    background-color: var(--body-background-color);
}

.page-banner-wrap.white .page-banner{
    color: var(--text-color);
}

.page-banner {
    display: flex;
    padding: 30px 0;
    color: var(--white-color);
}

.page-banner.big-title {
    display: block;
    padding: 0;
}

.page-breadcrumb {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.page-banner.big-title .page-breadcrumb {
    justify-content: start;
}

.page-title {
    flex: 1;
}

.page-title h1 {
    font-weight: 100;
    font-size: 5.8rem;
    line-height: 6.8rem;
}

.page-banner-item {
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: all .2s;
}

.page-banner.big-title .page-banner-item {
    background-color: unset;
}

.page-banner-item:hover {
    background-color: #007c9c;
    color: var(--white-color);
}

.page-banner.big-title .page-banner-item:hover {
    color: #007c9c;
}

.page-banner-icon {
    color: var(--white-color);
    margin: 0 14px;
}

.page-banner.big-title .page-banner-icon {
    color: var(--primary-color);
}
.page-content {
    background-color:var(--body-background-color);
    padding: 60px 0;
}

.page-content.white {
    background-color: #fff;
}

.page-content.white {
    background-color:var(--white-color);
}