/* Breakpoints: 0 - 740 - 1024 - 1113 - 1239px */

/* Mobie & Tablet: 0 - 1023px */
@media (max-width: 63.9375em) {
    .main-header {
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
    }

    .logo {
        display: none;
    }

    .tablet-logo {
        display: block;
    }

    header nav {
        justify-content: space-between;
        width: 100%;
    }

    .slide {
        margin: 0;
    }

    .slide-title {
        line-height: 4rem;
    }
    
    .slide .main-title {
        font-size: 4rem;
    }

    .slide .sub-title {
        font-size: 3rem;
    }

    /* banner */
    .page-banner {
        flex-direction: column-reverse;
    }

    .page-breadcrumb {
        justify-content: start;
    }

}

/*Only Mobile: 0 - 739px */
@media (max-width: 46.1875em) {
    .header-contact {
        display: none;
    }

    .sub-header {
        justify-content: end;
    }

    .nav-list {
        display: none;
    }

    .main-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav {
        width: unset;
    }

    .tablet-logo {
        margin: 0;
        font-size: 4rem;
    }

    .mobile-menu {
        display: block;
    }

    .header-search {
        display: none;
    }

    .slide img {
        display: none;
    }

    .footer-contact--left,
    .footer-contact--right {
        text-align: center;
        margin: 8px;
    }

    .footer-social-item {
        display: none;
    }

    /* calendar  */
    .calendar-form {
        display: block;
    }

    .calendar-input-group {
        margin: 18px 0;
    }

    .calendar-button button {
        width: 100%;
        background-color: var(--primary-color);
    }

    .page-title h1 {
        font-size: 4.8rem;
    }
}

/*Tablet & PC Low Resolution: 740 - 1239px */
@media (min-width: 46.25em) and (max-width: 77.4375em) {
}

/*Only Tablet: 740 - 1023px */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .slide img {
        width: 300px;
    }

    .slide {
        margin: 0 40px;
    }

    .nav-item > a {
        padding: 13px 14px;
    }

    /* calendar */
    .calendar-form {
        padding: 16px 10px;
    }

    .calendar-button button {
        padding: 12px 18px;
    }
}

/*740 - 1112px */
@media (min-width: 740px) and (max-width: 1112px) {

}

/*Only PC Low Resolution: 1024px - 1239px */
@media (min-width: 64em) and (max-width:  77.4375em) {
    .slide {
        margin: 0 60px;
    }

    .slide .main-title {
        font-size: 5rem;
    }

    .slide .sub-title {
        font-size: 4rem;
    }

    .slide-desc {
        margin: 30px 0;
    }
}
